name: Deploy to Production

on:
  push:
    branches: [ "linux-production" ]

jobs:
  deploy:
    name: Deploy to Ubuntu Server
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 160
        timeout: 30m
        command_timeout: 30m
        script: |
          cd ~/aynux
          git pull origin main
          echo "${{ secrets.PROD_ENV_FILE }}" > .env
          # Usamos la opción 2 combinada que es más segura
          docker compose -f docker-compose.yml -f docker-compose.prod.yml down
          docker compose -f docker-compose.yml -f docker-compose.prod.yml up -d --build --remove-orphans
          docker image prune -f
